<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>917274264132-qdi80ou2nt9gm1h2e9v4rdk7f7dq0mnt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.917274264132-qdi80ou2nt9gm1h2e9v4rdk7f7dq0mnt</string>
	<key>API_KEY</key>
	<string>AIzaSyA52cQfTK-eK7P7j5xZeqTXR6SlSA5-Bng</string>
	<key>GCM_SENDER_ID</key>
	<string>917274264132</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ku.ltctms</string>
	<key>PROJECT_ID</key>
	<string>browserteam</string>
	<key>STORAGE_BUCKET</key>
	<string>browserteam.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:917274264132:ios:b728bd57327e7917</string>
	<key>DATABASE_URL</key>
	<string>https://browserteam.firebaseio.com</string>
</dict>
</plist>