<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>786974548917-rab5h0hhdbi5i75ukf13g80po7c2800s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.786974548917-rab5h0hhdbi5i75ukf13g80po7c2800s</string>
	<key>API_KEY</key>
	<string>AIzaSyC9B40_KN7_p3HqzvhGFz5bQRPW3cmZ0HA</string>
	<key>GCM_SENDER_ID</key>
	<string>786974548917</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.kutztown.ltc-tms</string>
	<key>PROJECT_ID</key>
	<string>csc354-a604d</string>
	<key>STORAGE_BUCKET</key>
	<string>csc354-a604d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:786974548917:ios:1b57ff94db789fe59daffc</string>
	<key>DATABASE_URL</key>
	<string>https://csc354-a604d.firebaseio.com</string>
</dict>
</plist>